.card-login {
  background-color: #fff;
  width: 500px;
  padding: 15px;
  border-radius: 5px;
}

.card-login form .input-login {
  padding: 10px;
}

.card-login img {
  width: 12rem;
}

@media screen and (max-width: 992px) {
  .card-login {
    background-color: #fff;
    width: 400px;
    padding: 15px;
    border-radius: 5px;
  }

  .card-login img {
    width: 12rem;
  }
}
@media screen and (max-width: 768px) {
  .card-login {
    background-color: #fff;
    width: 400px;
    padding: 15px;
    border-radius: 5px;
  }

  .card-login img {
    width: 12rem;
  }
}
@media screen and (max-width: 576px) {
  .card-login {
    background-color: #fff;
    width: 280px;
    padding: 15px;
    border-radius: 5px;
  }

  .card-login img {
    width: 6rem;
  }

  .card-login p {
    font-size: 10px;
  }

  .card-login form .input-login {
    padding: 3px;
  }

  .card-login form .button-login {
    padding: 2px;
    width: 80px;
    margin-left: auto;
  }
}
